<mat-card>
  <mat-card-title>Über Uns - Grüne Revolution mit Technologie</mat-card-title>
  <mat-card-content>
    <p>Willkommen bei Plantly, der innovativen Lösung im Kampf gegen invasive Pflanzen. Unsere Mission ist es, die
      Herausforderungen des Gärtnerns im Einklang mit dem neuen Umweltgesetz anzugehen und einen Beitrag zum Erhalt der
      Biodiversität zu leisten.</p>
    <h3>Unser Ansatz:</h3>
    <p>Mit dem Aufkommen neuer Umweltgesetze und der wachsenden Bedrohung durch invasive, gebietsfremde Pflanzen, steht
      die Gartenarbeit vor neuen Herausforderungen. Unsere WebApp nutzt die Kraft der Augmented Reality (AR), um Ihnen
      dabei zu helfen, diese Herausforderungen effektiv zu bewältigen.</p>
    <h3>Technologie und Funktionen:</h3>
    <ul>
      <li>Augmented Reality: Unsere App erkennt mithilfe von AR-Technologie invasive Pflanzen.</li>
      <li>Datenbank und Forschung: Wir stützen uns auf umfangreiche Forschungen zu verschiedenen Pflanzen.</li>
      <li>Pflanzenersatz Vorschläge: Die App bietet Vorschläge für umweltfreundliche und nicht-invasive Pflanzen als
        Ersatz.
      </li>
    </ul>
    <h3>Plattform-Kompatibilität:</h3>
    <p>Unsere WebApp ist sowohl für iOS als auch für Android-Geräte optimiert, um eine breite Nutzerbasis zu erreichen.
      Erleben Sie eine nahtlose und benutzerfreundliche Erfahrung, egal auf welchem Gerät.</p>
    <h3>Engagement für die Umwelt:</h3>
    <p>Unser Ziel ist es, durch die Verwendung unserer App das Bewusstsein für Umweltfragen zu schärfen und praktische
      Lösungen für die Probleme zu bieten, mit denen Gärtner und Naturliebhaber heute konfrontiert sind. Wir glauben an
      die Macht der Technologie, um einen positiven Einfluss auf unsere Umwelt zu haben.</p>
    <h3>Kontakt:</h3>
    <p>Für weitere Informationen, Feedback oder Anfragen, zögern Sie nicht, uns zu kontaktieren. Ihr Beitrag hilft uns,
      unsere App weiter zu verbessern und einen grösseren Beitrag zum Umweltschutz zu leisten.</p>
  </mat-card-content>
</mat-card>
